
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Web_final.ViewModels.HomeViewModel
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="contact_taital">Get In Touch</h1>
                <p class="contact_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  eu </p>
            </div>
            <div class="col-md-6">
                <div class="contact_main">
                    <div class="contact_bt"><a href="lien-he">Contact Form</a></div>
                    <div class="newletter_bt"><a asp-controller="PH" asp-action="SendPH">Newletter</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="map_main">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.3669594328453!2d106.73242687768423!3d10.706153262205948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317525277c068021%3A0x3bbbdcbfc0f38384!2zTsaw4bubYyBIb2EgUGjDoXAgQ2jDrW5oIEjDo25nIFV5IFTDrW4gVFBIQ00!5e0!3m2!1svi!2s!4v1712109778906!5m2!1svi!2s" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>