@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Chi tiết bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model.Bloggs)
{
    <div class="about_section layout_padding">
        <div class="container">
            <div class="about_section_main">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_taital_main">
                            <h1 class="about_taital">@item.Title</h1>
                            <p class="about_text">@item.Detail</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div><img src="~/images/@item.Img" class="image_3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}